@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "@/assets/styles/_variables.scss";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 62px;
  position: relative;
  background-color: $blue3;

  .main {
    margin: 0 auto;
    max-width: 450px;
    z-index: 1;
  }
}
