$white : white;
$white1: #EEEAEA;
$black : #1F2D3D;
$blue  : #163C80;
$blue1 : rgba(31, 117, 225, 0.08);
$blue2 : rgba(31, 117, 225, 0.63);
$blue3 : rgba(241, 245, 246, 1);
$disabled : rgba(132, 146, 166, 1);
$shadow   : rgb(230, 230, 230);
$shadow1   : rgba(17, 16, 16, 0.122);
$shadow2   : rgba(17, 16, 16, 0.6);
$green     : rgba(27, 215, 65, 1);
$orange    : rgba(192, 76, 60, 1);
$gold      : rgba(174, 146, 61, 1);
$black1    : rgba(0, 0, 0, 1);